<div class="min-h-screen px-4 pb-6">
    <div class="flex-grow">
        <h1 class="text-4xl mt-0 font-bold mb-0 text-primary">Novo Agendamento</h1>
        <p class="text-gray-400 mb-6 mt-2">Experiência exclusiva. Selecione os detalhes do seu atendimento.</p>
        <div class="flex items-center mb-8">
            <div class="flex-grow h-0.5 bg-gradient-to-r from-transparent via-gray-700 to-transparent"></div>
        </div>
        <div class="grid grid-cols-[70%,30%] gap-4">
            <div>
                <div class="mb-8">
                    <h2 class="text-lg font-semibold mb-4 mt-0">Selecione o Profissional</h2>
                    <div class="flex gap-x-4 overflow-x-auto scrollbar-hide px-2">
                        <div *ngIf="barbers.length === 0" class="text-color_text text-sm">
                            Nenhum barbeiro disponível no momento.
                        </div>
                        <div *ngFor="let barber of barbers; let i = index" (click)="selectBarber(i)" [ngClass]="{ 
                                'border border-solid border-primary shadow-md shadow-yellow-500/50': selectedBarber === i, 
                                'bg-background': selectedBarber !== i 
                            }" class="w-36 rounded-lg p-1 flex flex-col cursor-pointer">
                            <div class="flex flex-col items-center">
                                <div>
                                    <img [src]="barber.image" alt="User Avatar" class="size-36 rounded-lg" />
                                </div>
                                <p class="text-sm font-medium text-primary m-0">{{ barber.name }}</p>
                                <p class="text-xs m-0 text-gray-400">{{ barber.role }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-8">
                    <div class="flex justify-between">
                        <h2 class="text-lg font-semibold mb-4">Selecione o Serviço</h2>
                        <div class="flex gap-2 p-4">
                            <button id="scrollLeft"
                                class="p-1 bg-transparent rounded-full hover:bg-zinc-900 transition border border-color_text">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-4 text-white" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 19l-7-7 7-7" />
                                </svg>
                            </button>

                            <button id="scrollRight"
                                class="p-1 bg-transparent rounded-full hover:bg-zinc-900 transition border border-color_text">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-4 text-white" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div id="carousel" class="flex gap-4 overflow-x-auto scrollbar-hide px-2">
                        <div *ngFor="let service of services; let i = index" (click)="selectService(i)"
                            [ngClass]="{ 'border border-solid border-primary shadow-md shadow-yellow-500/50': selectedService === i, 'bg-background': selectedService !== i }"
                            class="w-36 rounded-lg p-1 flex flex-col cursor-pointer">
                            <div>
                                <img [src]="service.imageUrl" alt="Service Image" class="size-36 rounded-lg" />
                            </div>
                            <h3 class="font-normal text-sm text-primary text-start m-0 p-1">{{ service.name }}</h3>
                            <div class="flex justify-between items-end text-sm p-1 text-gray-400">
                                <p class="m-0 text-xs font-mono text-white">{{ service.price }}</p>
                                <p class="m-0 text-xs font-mono">{{ service.durationMin }} min</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-8">
                    <h2 class="text-lg font-semibold mb-4">Selecione Data e Hora</h2>
                    <div class="grid grid-cols-2 gap-6 px-2">
                        <div class="w-full bg-current rounded-lg">
                            <mat-calendar [selected]="selectedDate" (selectedChange)="onDateChange($event)"
                                class="  text-black rounded-lg"></mat-calendar>
                        </div>
                        <div>
                            <div>
                                <h3 class=" text-center font-semibold text-white mb-4">
                                    Horários disponíveis
                                </h3>
                                <p *ngIf="selectedBarber === null" class="text-color_text text-center text-sm">
                                    Primeiro selecione um Barbeiro!
                                </p>
                            </div>
                            <div class="grid grid-cols-3 gap-4">
                                <div *ngFor="let slot of availableTimes; let i = index"
                                    (click)="!slot.isDisabled && selectTime(i)" [ngClass]="{'border border-solid border-primary shadow-sm shadow-yellow-500/50 bg-black': selectedTime === i,
                                    'bg-zinc-700 text-gray-500 cursor-not-allowed': slot.isDisabled,
                                    'bg-background text-gray-400 cursor-pointer': !slot.isDisabled
                                    }" class="p-2 text-center rounded-lg text-sm">
                                    {{ slot.time }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-background p-4 mx-6 rounded-lg max-h-fit sticky top-2 shadow-sm shadow-zinc-400">
                <h3 class="text-lg font-semibold text-white my-2 text-center">Resumo</h3>
                <div class="flex items-center mb-6 ">
                    <div class="flex-grow h-0.5 bg-gradient-to-r from-transparent via-gray-700 to-transparent"></div>
                </div>
                <div class="bg-zinc-800 py-2 px-3 rounded-lg mb-6">
                    <div class="flex items-center mb-6">
                        <img [src]="selectedBarber !== null ? barbers[selectedBarber]?.image : 'https://thumbs.dreamstime.com/b/s%C3%ADmbolo-de-perfil-masculino-inteligente-retrato-estilo-desenho-animado-m%C3%ADnimo-166146967.jpg'"
                            class="w-10 h-10 rounded-full mr-2"
                            [ngClass]="{ 'border border-solid border-primary': selectedBarber !== null, 'border-none': selectedBarber == null}" />
                        <div>
                            <p class=" font-semibold text-sm my-0"
                                [ngClass]="{ 'text-primary': selectedBarber !== null, 'text-white': selectedBarber == null}">
                                {{ selectedBarber !== null ? barbers[selectedBarber]?.name : 'Barbeiro' }}
                            </p>
                        </div>
                    </div>
                    <p class="text-sm text-white flex items-center mb-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-5 text-primary mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m7.848 8.25 1.536.887M7.848 8.25a3 3 0 1 1-5.196-3 3 3 0 0 1 5.196 3Zm1.536.887a2.165 2.165 0 0 1 1.083 1.839c.005.351.054.695.14 1.024M9.384 9.137l2.077 1.199M7.848 15.75l1.536-.887m-1.536.887a3 3 0 1 1-5.196 3 3 3 0 0 1 5.196-3Zm1.536-.887a2.165 2.165 0 0 0 1.083-1.838c.005-.352.054-.695.14-1.025m-1.223 2.863 2.077-1.199m0-3.328a4.323 4.323 0 0 1 2.068-1.379l5.325-1.628a4.5 4.5 0 0 1 2.48-.044l.803.215-7.794 4.5m-2.882-1.664A4.33 4.33 0 0 0 10.607 12m3.736 0 7.794 4.5-.802.215a4.5 4.5 0 0 1-2.48-.043l-5.326-1.629a4.324 4.324 0 0 1-2.068-1.379M14.343 12l-2.882 1.664" />
                        </svg>
                        {{ selectedService !== null ? services[selectedService]?.name : 'Serviço' }}
                    </p>
                    <p class="text-sm text-white flex items-center mb-1 font-mono">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-4 text-primary mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                        </svg>

                        {{ selectedDateLabel || 'Data' }}
                    </p>
                    <p class="text-sm text-white flex items-center mb-1 font-mono">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-4 text-primary mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>

                        {{ selectedTime !== null ? availableTimes[selectedTime]?.time : 'Horário' }}
                    </p>
                </div>

                <div class="flex items-center mb-4">
                    <div class="flex-grow h-0.5 bg-gradient-to-r from-transparent via-gray-700 to-transparent"></div>
                </div>

                <div class="flex justify-between items-center text-md mb-6 text-white">
                    <p class="text-gray-400 m-0">Total Estimado</p>
                    <p class="font-bold text-lg m-0 font-mono">
                        {{ selectedService !== null ? services[selectedService]?.price : 'R$ 0,00' }}
                    </p>
                </div>
                <button (click)="confirmarAgendamento()"
                    class="w-full flex items-center text-center gap-2 rounded-lg border border-zinc-800 bg-zinc-900/70 px-4 py-2 text-sm text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-4 text-primary">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                    </svg>
                    <p class="m-0 text-sm">Confirmar Agendamento</p>
                </button>

                <p class="text-xs text-gray-400 text-center mt-4">
                    Cancelamento gratuito até 2h antes.
                </p>
            </div>
        </div>
    </div>
</div>