/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

.icon {
  font-family: 'Material Icons';
  vertical-align: middle;
}

mat-calendar {
  background-color: #f5f5f5;
  border-radius: 8px;
}

mat-calendar .mat-calendar-header {
  background-color: #09090b;
  color: #ffc107;
}

mat-calendar .mat-calendar-table-header {
  background-color: #f5f5f5;
  color: black; 
}

mat-calendar .mat-calendar-body {
 background-color: #f5f5f5;
}

mat-calendar .mat-calendar-body-cell-content {
  color: black !important;
}

mat-calendar .mat-calendar-body-selected {
  background-color: #000000 !important;
  color: #ffc107 !important;
  border: 1px solid #ffc107 ;
  box-shadow: 0px 4px 6px -1px rgba(255, 193, 7, 0.5), 0px 2px 4px -2px rgba(255, 193, 7, 0.5); 
}

