.dashboard-container {
  display: grid;
  grid-template-columns: 20% 80%;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    
    app-sidebar {
      display: none;
    }
  }
}

.main-content {
 padding: 2rem;
 background: #000000;
 color: #fdfdfd;
}